[Desktop Entry]
Name=Telegram
GenericName=Telegram Messenger
Exec=/usr/bin/telegram-desktop -- %u
Terminal=false
StartupWMClass=telegram-desktop
Icon=telegram-desktop
Type=Application
Categories=Network;
MimeType=x-scheme-handler/tg;
